.header {
  background-color: #8a2b06;
  position: fixed;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  z-index: 10;
  height: 5rem;
  top: 0;
  left: 0;
}

.meals-image {
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.meals-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
